<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About GASCK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <header>
        <h1>About Our College</h1>
    </header>

    <section>
        <h2>Our Story</h2>
        <p>Government Arts and Science College, Kuthalam (GASCK) is committed to educational excellence and the overall development of our students.</p>
        <p>*We known as GASCK because</p>
        <p>*We help you to Grow</p>
        <p>*We help you to Aspire</p>
        <p>*We help you to Succeed</p>
        <p>*We help you to Conquer</p>
        <p>*We help you to Know</p> 
    </section>

    <footer>
        <p>&copy; GASCK – Where Minds Soar, Futures Evolve.</p>
    </footer>
</body>
</html>

