<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact GASCK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
{% include 'navbar.html' %}
<body>
    <header>
        <h1>Contact Us</h1>
    </header>

    <section>
        <p>Email: gasck2022@gmail.com</p>
        <p>Phone: +91 9876543210</p>
        <p>Address: Kuthalam, Tamil Nadu, India</p>
    </section>

    <footer>
        <p>&copy; GASCK – Where Minds Soar, Futures Evolve.</p>
    </footer>
</body>
</html>

