<!DOCTYPE html>
<html lang="en">
{% include 'navbar.html' %}
<head>
    <meta charset="UTF-8">
    <title>Select Course - GASCK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Select Your Course</h1>
    </header>

    <section>
        <h2>Choose a course:</h2>
        <ul>
            <li><a href="/syllabus/BSc_Computer_Science">BSc Computer Science</a></li>
            <li><a href="/syllabus/BA_Tamil">BA Tamil</a></li>
            <li><a href="/syllabus/BA_English">BA English</a></li>
            <li><a href="/syllabus/BSc_Mathematics">BSc Mathematics</a></li>
            <li><a href="/syllabus/Bcom">Bcom</a></li>
        </ul>
    </section>

    <footer>
        <p>&copy; GASCK – Where Minds Soar, Futures Evolve.</p>
    </footer>
</body>
</html>

